<div>
  <label>不重複的數字: {{multiplicationTableService.unique_values.length}}</label>
<div>
<table>
  <tbody>
  <tr>
    <td bgcolor="yellow">X</td>
    <td *ngFor="let multiplier of multiplicationTableService.multiplers" bgcolor="yellow">{{multiplier}}</td>
  </tr>
  <tr *ngFor="let element of multiplicationTableService.data">
    <td bgcolor="yellow">{{element.multiplier}}</td>
    <td *ngFor="let result_element of element.result; let i = index" [ngStyle]="{'color': result_element.is_unique? '#FF0000' : '#000000', 'text-decoration': result_element.is_unique? 'underline': ''}">
      {{result_element.value}}
    </td>
  </tr>
  </tbody>
</table>
