<label>共有 {{multiplicationTableService.number_allocation.length}} 種分配方法</label>
<table>
  <thead>
    <th>組別</th>
    <th *ngFor="let multiplier of multiplicationTableService.multiplers;">骰{{multiplier}}</th>
  </thead>
  <tbody>
    <tr *ngFor="let number_allocation_element of multiplicationTableService.number_allocation_aggregate; let i=index">
      <td >{{i+1}}</td>
      <ng-container *ngFor="let multiplier of multiplicationTableService.multiplers">
        <td *ngIf="multiplicationTableService.row_spans[i][multiplier-1] > 0" [attr.rowspan]="multiplicationTableService.row_spans[i][multiplier-1]">
          {{number_allocation_element[multiplier-1]}}
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
